.center {
    text-align: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
  
.column {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.column-sm {
    flex: 0 0 22%;
    margin: 0 4%;
    margin-bottom: 1rem;
}

.shoe-image {
    width: 100%;
    height: auto;
}

.shoe-name-details {
    margin: 18px 18px 0px 35px;
}

.product-details {
    margin: 25px 25px 0px 35px;
}

.links-details {
    margin: 25px;
}

.label-color {
    color: #BFAC94;
}

.shoe-image-container {
    border: 1px solid #2E2926;
    background-color: white;
}

.shoe-details-container {
    background-color: white;
    border: 1px solid #2E2926;
}

a:visited {
    color: #7C9AB5;
}

a:hover {
    color: #BFAC94;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    // .links-details {
    //     margin: 25px 0px 30px 35px;
    // }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .links-details {
        margin: 25px 0px 30px 35px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-container {
        padding: 120px 150px 0px 150px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-container {
        padding: 120px 150px 0px 150px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .main-container {
        padding: 120px 150px 0px 150px;
    }
    .shoe-image-container {
        height: 530px;
    }
    .shoe-details-container {
        height: 528px;
    }
}