<div *ngIf="shoeInfoModel">
  <div fxfill fxLayout="column" fxLayoutAlign="center center">
    <div fxflex="100">
      <img
        class="shoe-image"
        mat-card-image
        src="{{ shoeInfoModel.shoeDetails.photoLink }}"
        alt="shoe image"
      />
    </div>
  </div>
  <div class="containerX">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayoutGap="10px"
      class="coloredContainerX box"
    >
      <!-- shoe info -->
      <div fxFlex="20" fxflex.gt-sm="40">
        <mat-card>
          <mat-card-title>
            {{ shoeInfoModel.shoeDetails.name }}
            {{ shoeInfoModel.shoeDetails.subName }}
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <p matLine>
                  <span><strong>Style Code:</strong></span>
                  <span>
                    {{ shoeInfoModel.shoeDetails.styleCode }}
                  </span>
                </p>
              </mat-list-item>
              <mat-list-item>
                <p matLine>
                  <span><strong>Release Date:</strong></span>
                  <span>
                    {{
                      shoeInfoModel.releaseDate.toDate() | date: "MM/dd/yyyy"
                    }}
                  </span>
                </p>
              </mat-list-item>
              <mat-list-item>
                <p matLine>
                  <span><strong>Price:</strong></span>
                  <span>
                    {{ shoeInfoModel.shoeDetails.price | currency }}
                  </span>
                </p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- links -->
      <div fxFlex="80" fxflex.gt-sm="60">
        <mat-card>
          <mat-card-title>
            Links
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <div class="containerX">
                <div
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayout.sm="column"
                  class="coloredContainerX box"
                >
                  <div fxFlex *ngFor="let shoeLinks of shoeInfoModel.releaseSites">
                    <mat-list-item>
                      <p matLine>
                        <span><strong>Store:</strong></span>
                        <span>
                          {{ shoeLinks.name }}
                        </span>
                      </p>
                    </mat-list-item>
                    <mat-list-item>
                      <p matLine>
                        <span><strong>Link:</strong></span>
                        <button
                          mat-button
                          (click)="onClickShoeLink(shoeLinks.link)"
                          color="primary"
                        >
                          {{ shoeLinks.siteLink }}
                        </button>
                      </p>
                    </mat-list-item>
                    <mat-list-item>
                      <p matLine>
                        <span><strong>Release Date:</strong></span>
                        <span>
                          {{ shoeLinks.releaseDate.toDate() | date: 'MM/dd/yyyy' }}
                        </span>
                      </p>
                    </mat-list-item>
                    <mat-list-item>
                      <p matLine>
                        <button
                          (click)="onClickDeleteLink(shoeLinks)"
                          mat-button
                          color="warn"
                        >
                          delete
                        </button>
                        <!-- <button
                          mat-button
                          color="primary"
                        >
                          edit
                        </button> -->
                      </p>
                    </mat-list-item>
                  </div>
                </div>
              </div>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <br>
        <button mat-flat-button (click)="onClickAddLink()" color="primary">Add Link</button>
      </div>
    </div>
  </div>
</div>
