<div *ngIf="shoeInfoModel">
  <!-- <div fxfill fxLayout="column" fxLayoutAlign="center center">
    <div fxflex="100">
      <img
        class="shoe-image"
        mat-card-image
        src="{{ shoeInfoModel.shoeDetails.photoLink }}"
        alt="shoe image"
      />
    </div>
  </div> -->
  <div class="containerX main-container">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"
      class="coloredContainerX box"
    >
      <!-- shoe info -->
      <div class="shoe-image-container" fxFlex="50" fxflex.gt-sm="40">
          <img
            class="shoe-image"
            src="{{ shoeInfoModel.shoeDetails.photoLink }}"
            alt="shoe image"
            layout-fill/>
      </div>
      <!-- links -->
      <div fxFlex="50" fxflex.gt-sm="60">
        <div class="shoe-details-container">
          <div class="shoe-name-details">
            <h1 class="mat-h1">{{ shoeInfoModel.shoeDetails.name }} {{ shoeInfoModel.shoeDetails.subName }}</h1>
          </div>
          <hr>
          <div class="product-details">
            <h3 class="mat-h3">PRODUCT DETAILS</h3>
            <p class="mat-body"><span class="label-color">SKU</span> <span class="details-spacer-sku"></span>{{ shoeInfoModel.shoeDetails.styleCode }}</p>
            <p class="mat-body"><span class="label-color">COLORWAY</span>  <span class="details-spacer-color"></span>{{ shoeInfoModel.shoeDetails.color }}</p>
            <p class="mat-body"><span class="label-color">RELEASED</span> <span class="details-spacer-release"></span>{{ shoeInfoModel.releaseDate.toDate() | date: "MM/dd/yyyy" }}</p>
            <p class="mat-body"><span class="label-color">RETAIL PRICE</span>  <span class="details-spacer-price"></span>{{ shoeInfoModel.shoeDetails.price | currency }}</p>
          </div>
          <br>
          <hr>
          <div class="links-details">
            <!-- <h3>WHERE TO GET IT<button mat-button (click)="onClickAddLink()" color="primary">add</button></h3> -->
            <h3 class="mat-h3">WHERE TO GET IT</h3>
            <div class="links-columns">
              <div class="" *ngFor="let shoeLinks of shoeInfoModel.releaseSites">
                <a class="mat-body" [href]="shoeLinks.siteLink" target="_blank">{{ shoeLinks.name }}</a>
                <!-- <button
                  (click)="onClickDeleteLink(shoeLinks)"
                  mat-button
                  color="warn">
                  delete
                </button> -->
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
