:host {
  height: 100vh;
  display: grid;
  grid-template: "toolbar"
                 "page-container" 1fr;
}

h1 {
  grid-area: title;
}

mat-toolbar {
  z-index: 2;
}

mat-sidenav-container {
  grid-area: page-container
}

mat-sidenav {
  width: 310px;
}

mat-menu {
  display: none
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.account-icon {
  padding: 0 14px;
}

.toolbar-color {
  color: #2E2926;
  background-color: white;
  border-bottom: 1px solid #2E2926;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.row {
  flex: 1;
}