:host {
  height: 100vh;
  display: grid;
  grid-template: "toolbar"
                 "page-container" 1fr;
}

h1 {
  grid-area: title;
}

mat-toolbar {
  z-index: 2;
  // grid-area: toolbar;
  // display: grid;
  // grid-template:  "title menu" auto
  // / 1fr 50px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.account-icon {
  padding: 0 14px;
}

mat-sidenav-container {
  grid-area: page-container
}

mat-sidenav {
  width: 310px;
}

.menu-button {
  grid-area: menu;
}

mat-menu {
  display: none
}

