<mat-toolbar color="primary" class="main-toolbar">
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="main-app-name">Shoes Closet</h1>
  <span class="toolbar-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon class="account-icon">account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="menu-button">Log out</button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav 
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" 
      fixedTopGap="56"
      role="region">
    <app-side-nav (searchModelChange)=updateSearchModel($event)></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content role="region">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



