<mat-toolbar color="primary" class="main-toolbar">
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="main-app-name">Shoes Closet</h1>
  <span class="toolbar-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon class="account-icon">account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="menu-button">Log out</button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav 
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" 
      fixedTopGap="56"
      role="region">
    <app-side-nav (searchModelChange)=updateSearchModel($event)></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content role="region">
    <button class="create-shoe-btn" color="warn" (click)="openAddShoeModal(null, null, false)" mat-raised-button>Add Shoe +</button>
    <div class="shoe-cards">
      <mat-card *ngFor="let shoe of shoes | async | searchFilter: searchModel">
        <mat-card-title>{{ shoe.name }}</mat-card-title>
        <img mat-card-image [src]="shoe.photo">
        <mat-card-content>
          <dl>
            <dt class="mat-small">Year</dt>
            <dd class="mat-body-2">{{ shoe.year }}</dd>
            <dt class="mat-small">Brand</dt>
            <dd class="mat-body-2">{{ shoe.brand }}</dd>
            <dt class="mat-small">Size</dt>
            <dd class="mat-body-2">{{ shoe.size }}</dd>
          </dl>
        </mat-card-content>
        <mat-card-actions>
          <button class="" (click)="openAddShoeModal(shoe.id, shoe.name, true)" mat-button>Edit</button>
          <button class="" (click)="deleteShoe(shoe.id, shoe.name)" mat-button>Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<router-outlet></router-outlet>


