.shoe-cards {
  padding: 16px;
}

// .card-container {
//   height: 80%;
// }

.card-picture {
  // width: 23%;
  margin-bottom: 2%;
}


// mat-card {
//   width: 232px;
// }

// [mat-card-image] {
//   height: 195px;
// }

dl {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

dd {
  margin-inline-start: 0;
}
