.shoe-cards {
  padding: 16px;
}

.card-picture {  
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 2%;
}

dl {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

dd {
  margin-inline-start: 0;
}
