<h1>
  June
</h1>

<div class="card-layout">
  <mat-card class="shoe-cards" *ngFor="let shoe of releaseDetail | async">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{shoe.name}}</mat-card-title>
      <mat-card-subtitle>{{shoe.subName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{shoe.photoLink}}" alt="shoe image">
    <mat-card-content >
      <dl>
        <dt class="mat-small">Release Date</dt>
        <dd class="mat-body-2">{{shoe.releaseDate}}</dd>
        <!-- <dt class="mat-small">Time</dt>
        <dd class="mat-body-2">10:00 AM</dd> -->
        <dt class="mat-small">Site</dt>
        <dd class="mat-body-2">{{shoe.site}}</dd>
      </dl>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button (click)="collapsed=!collapsed">Show more</button>
    </mat-card-actions> -->
  </mat-card>
</div>


