mat-card {
  width: 250px;
}

mat-card:hover {
  background-color: #fafafa;
  cursor: pointer;
}

dl {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
  
dd {
    margin-inline-start: 0;
}

.card-layout {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 280px);
}

.shoe-cards {
  // max-width: 230px;
  :hover {
    background-color: red($color: #000000);
  }
}
  
.example-header-image {
    background-image: url('https://i.pinimg.com/236x/1d/f3/9a/1df39ad2bc8509ae80a1391d2477f259.jpg');
    background-size: cover;
}


[mat-card-image] {
  height: 180px;
}
