mat-card {
  width: 250px;
}

mat-card:hover {
  background-color: #fafafa;
  cursor: pointer;
}

dl {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
  
dd {
    margin-inline-start: 0;
}

.header {
  margin-left: 2rem;
}

.card-layout {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: center;
}

.news-container {
  margin-bottom: 3rem;
}

.shoe-cards {
  :hover {
    background-color: red($color: #000000);
  }
}
  
.shoe-header-image {
  background-image: url('https://i.pinimg.com/236x/1d/f3/9a/1df39ad2bc8509ae80a1391d2477f259.jpg');
  background-size: cover;
}

[mat-card-image] {
  height: 180px;
}

.create-shoe-btn {
  color: #2E2926;
  background-color: #F8F8F8;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
  .header {
    margin-left: 3rem;
  }
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .header {
    margin-left: 2rem;
  }
  .card-layout {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, 280px);
    margin-left: 0;
  }

  .create-shoe-btn {
    margin-left: 0;
  }
}
