<button class="create-shoe-btn" color="warn" (click)="openAddShoeModal(null, null, false)" mat-raised-button>Add Shoe +</button>
<h1>
  January
</h1>

<div class="card-layout">
  <mat-card (click)="onClickCard()" class="shoe-cards" *ngFor="let shoe of releaseDetail | async">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{shoe.name}}</mat-card-title>
      <mat-card-subtitle>{{shoe.subName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{shoe.photoLink}}" alt="shoe image">
    <mat-card-content>
      <dl>
        <dt class="mat-small">Release Date</dt>
        <dd class="mat-body-2">{{shoe.releaseDate}}</dd>
        <dt class="mat-small">Site</dt>
        <dd class="mat-body-2">{{shoe.site}}</dd>
      </dl>
    </mat-card-content>
    <!-- like icon
    <mat-card-actions>
      <button mat-mini-fab color="warn"><mat-icon>favorite</mat-icon></button>
    </mat-card-actions> -->
  </mat-card>
</div>


